
@{
    ViewData["Title"] = "NotAuthorized";
}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 offset-3 col-xs-12 text-center">
            <img src="~/image/303perro.png" class="img-fluid" />
            <h1>¡Oooooops! ERROR 403</h1>
            <h2>Parece que no tienes permisos para entrar a esta ruta</h2>
        </div>
    </div>
</div>