@{
    ViewData["Title"] = "Error404";
}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 offset-3 col-xs-12 text-center">
            <img src="~/image/404perro.png" class="img-fluid" />
            <h1>¡Oooooops! ERROR 404</h1>
            <h2>Página no encontrada</h2>
        </div>
    </div>
</div>

